.ct-series-a .ct-line {
  /* Color de las barras de la primer serie*/
  stroke: rgb(255, 0, 0);
  /* El ancho de las barras */
  stroke-width: 30px;
  
}
.ct-series-b .ct-line {
  /* Color de las barras de la segunda serie */
  stroke: rgb(255, 0, 0);
  /* El ancho de las barras */
  stroke-width: 25px;
  
}
.temp-box{
  width: 50px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: rgb(255, 0, 0);

}
.min{
  background-color: rgb(255, 0, 0);
}
.subt{
  display: block;
  color: blueviolet;
  
  font-size: large;
}
.centro{
  text-align: center;
}
